
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background: #fff;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #ced;
}
header nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
.logo {
	display: flex;
	align-items: center;
	gap: 0.5em;
}
.logo-img {
	height: 1.6em;
	width: auto;
}
.logo-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.frace {
	letter-spacing: 0.1em;
	font-size: 1.2em;
	font-weight: bold;
}
.engineering {
	letter-spacing: 0.1em;
	font-size: 0.6em;
}
.hero {
    background: linear-gradient(to right, rgba(0, 74, 173, 1), rgba(0, 74, 173, 0.8)), url("images/frace.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 6rem 2rem;
    text-align: left;
    color: #fff;
}
button {
	padding: 0.5em;
	border: none;
	border-radius: 0.4em;
}
.get-started-btn {
	background-color: #004aad;
	color: #fff;
}
.hero .get-started-btn {
	background-color: #337acc;
	color: #fff;
}
.contact-us-btn {
	background-color: #fff;
	color: #000;
}
#hero-btn {
	display: flex;
	justify-content: flex-start;
	gap: 2em;
}
.services, .why-choose-us, .footer-nav {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 2rem;
	text-align: left;
}
.services img {
	width: 10%;
	margin-bottom: 0.5rem;
}
.why-choose-us img {
	width: 10%;
	margin-bottom: 0.5rem;
}
section {
    padding: 3rem 2rem;
}
footer {
    background: #004aad;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
.social-icons a {
	display: inline-block;
	margin: 0px;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	position: relative;
	padding-left: 5px;
}
.social-icons a::before {
	font-family: "Font Awesom 6 Free";
	font-weight: 900;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 0.13em;
}
.footer-nav ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.footer-services ul li, .footer-contact ul li {
	display: inline-block;
	padding: 0;
	margin: 5px;
}
.footer-nav h4 a {
	background-color: #fff;
	color: rgba(0, 74, 173, 1);
	padding: 5px;
	text-decoration: none;
	border-radius: 5px;
}
.deep-footer {
	display: flex;
	justify-content: space-around;
	background: #ced;
	width: 100%;
}
